.header{
  padding: 100px;
}

.prompt-form{
  background-color: skyblue;
  float: none;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 100%;
  border-radius: 8px;
}

.btn-primary{
  background-color: rgb(232, 226, 33);
  color: black;
}

.btn-primary:hover{
  background-color: rgb(0, 0, 159);
}

.sectionTwo, .sectionThree{
  margin-top: 100px;
}

input{
  margin-top: 20px;
}